.space{
    background-color: transparent;
    background-image:url(../src/assets/stars.png), linear-gradient(#250545,#1c0532);
    position: relative;
    z-index: 6;
}
.space-static{
    background-color: transparent;
    background-image:url(../src/assets/stars.png),linear-gradient(#250545,#250545);
}
/* linear-gradient(#4d1287,#250545) */
body::-webkit-scrollbar {
    display: none;
}
body{
    overflow-x: hidden;
}